@media(min-width: 1200px) {
	.navbar-form .input-group>.form-control {
		width: 370px;	
	}
}
@media(min-width: 980px) and (max-width: 1200px) {
	.navbar-form .input-group>.form-control {
		width: 270px;	
	}
	.secondary-nav .search_field{
		width: 89%;
	}
}

@media(min-width: 768px) and (max-width:979px) {
	.navbar-form .input-group>.form-control {
		width: 200px;	
	}
	.secondary-nav .search_field{
		width: 86%;
	}
}

@media(max-width: 767px) {	
	.navbar .navbar-form {
        width: 100% /* Full width search box for mobile devices */
    }
    .secondary-nav .search_field{
    	width: 83%;
    }
    .popular_searches ul li a{
    	font-size: 14px;
    	padding: 5px 15px;
    }
    .popular_searches h4{
    	font-size: 16px;
    	margin-left: 15px;
    }
    .prod{
    	/*height: 220px;*/
    }
    .prod img{
    	width: 80%;
    }
    .popular_searches1{
    	display: none;
    }
    .categories{
    	display: none;
    }
}
@media(max-width: 667px) {
	.secondary-nav .search_field{
		width: 77%;
	}
}
@media(max-width: 480px) {
	
}
@media(max-width: 380px) {
	
}