
body { /* Body offset for fixed navbar */
	padding-top: 70px; 
}

.navbar .navbar-form { /* Positioning the form */
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#searchcategory { /* Dropdown within searchbar */
	width: 100px;
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

@media(max-width:767px) {
    body { /* Body offset for fixed navbar for mobile devices */
		padding-top: 140px; 
	}
	
	.navbar .navbar-form {
        width: 100% /* Full width search box for mobile devices */
    }
}


/* Media queries to adjust form width */
@media(min-width:768px) {
    .navbar-form .input-group>.form-control {
		width: 200px;	
	}
}

@media(min-width:992px) {
	.navbar-form .input-group>.form-control {
		width: 270px;	
	}
}

@media(min-width:1200px) {
	.navbar-form .input-group>.form-control {
		width: 370px;	
	}
}