.main_nav_div{
	padding: 0;
	margin: 0;
	width: 100%;
}
.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}
.site1, .site2{
	height: auto;
}
.active-logo{
	background: #fff;
}
.main_nav_div .navbar{
	border:none;
	background: #000;
}
.main_nav_div .navbar .nav-rt{
	padding:0;
	margin-right: 0;
}
.main_nav_div .site2,.main_nav_div .site1{
	padding: 10px;
}
.main_nav_div .navbar .nav-rt li a{
	color: #fff;
	padding: 26px;
}
.main_nav_div .navbar .nav-rt li a:hover{
	color: #000;
	background: #fff;
}
.main_nav_div .brand_div a:hover{
	background: #ccc;
}
.main_nav_div .navbar{
	margin-bottom: 0;
}
.secondary-nav{
	clear: both;
}
.sand-icon{
	display: block;
	float: none;
	margin: 0;
}
.secondary_navigation_div{
	padding: 15px 0;
}
.secondary_navigation_div .dropdown-toggle .browse{
	display: inline-block;
	float: left;
	padding: 0;
}
.secondary_navigation_div .dropdown-toggle{
	display: inline-block;
	float: left;
	padding: 0px;
	text-align: center;
}
.secondary_navigation_div .shop_by{
	float: right;
	width: 70%;
}
.secondary-nav{
	padding: 0;
}
.secondary-nav .navbar{
	border: none;
	background: #000;
	border-top: 2px solid #fff;
	margin: 0;
}
.secondary-nav .shop_by_submenu{
	background-color: transparent;
	border: none;
	color: #fff;
}
.secondary-nav .shop_by_submenu option{
	color: #000;
}
.secondary-nav .search_field{
	width: 90%;
}
.navbar{
	border-radius: 0;
}
.sand_icon_submenu li.active a{
	color: #000;
	background: none;
}
/*select.shop_by_submenu{
	background-image:
    linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, #fff, #fff);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
}*/

select.shop_by_submenu {
  width: 100% !important;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    background-image: url('../images/br_down.png');
    -webkit-appearance: none;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
.search_popup{
	position: relative;
	z-index: 2;
	background-color: #fff;
	display: inline-block;
	width: 100%;
	border: 1px solid #ccc;
	/*display: none;*/
}
.search_popup:before{
	content: '';
	width: 0px;
	height: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;	
	border-bottom: 20px solid #ccc;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	top: -20px;
	left: 30%;
	right: 30%;
}
.popular_searches{
	background: #ccc;
	padding: 0;
}
.popular_searches h4{
	margin-left: 30px;
}
.popular_searches ul{
	list-style-type: none;
	padding: 0;
}
.popular_searches ul li a{
	color: #000;
	padding: 10px 30px;
	display: block;
	font-size: 16px;
}
.popular_searches ul li a:hover{
	background: #aaa;
}
.products span{
	font-size: 12px;
	margin: 0 15px;
}
.products h4{
	margin-left: 15px;
}
.products p{
	text-align: center;
	padding: 10px 0;
	background: #cbcbcb;
	clear: both;
}
.products p a{
	color: #000;
	display: block;
}
.products_div{
	/*//margin: 40px 0;*/
	display: inline-block;
}
.prod span{
	margin: 0;
}
.categories h4 {
  margin-left: 30px;
}
.categories ul {
  list-style-type: none;
  padding: 0;
}
.categories ul li a {
  color: #000;
  padding: 10px 30px;
  display: block;
  font-size: 14px;
}
.categories ul li a:hover{
	background: #ccc;
}
.products_selected{
	display: none;
}
.prod{
	/*height: 360px;*/
	border:1px solid #fff;
	transition: 0.5s all;
}
.prod:hover{
	/*height: 360px;*/
	border:1px solid #000;
}
.prod:nth-child(4n+1) {
    clear: both;
}
.block{
	display: block;
}
.secondary_navigation_div .shop_by select{
	font-size: 14px;
}